<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por  Diego García Hernández y Ana Stuyck García.
</p>

<p>Nuestar URL a GitHub es: </p><a href="https://github.com/anastuyck/quiz_2017">https://github.com/anastuyck/quiz_2017</a>

</p>
<img src="/images/diego.jpg" width="403" height="302"/>
<img src="/images/ana.jpg" width="403" height="302"/>


