<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por  Diego García Hernández y Ana Stuyck García.
</p>

<p>Nuestar URL a GitHub es: </p><a href="https://github.com/anastuyck/quiz_2017">https://github.com/anastuyck/quiz_2017</a>

</p>
<img width:100% max-width:600px src="/images/ana.jpg" />
<img width:100% max-width:600px src="/images/diego.jpg" />

